@import 'colors';
.auth-page {
	padding: 2em;
	padding-top: 70px;
	height: 100vh;
	z-index: 1;
	background-color: $DarkBlue;
	h2 {
		margin: 0.5em 0;
		letter-spacing: 10px;
		font-size: 5rem;
		color: $Gold;
		text-transform: uppercase;
		font-weight: bold;
	}
}

