.auth-page {
	padding: 2em;
	padding-top: 70px;
	height: 100vh;
	z-index: 1;
	background-color: #333333;
	h2 {
		margin: 0.5em 0;
		letter-spacing: 10px;
		font-size: 5rem;
		color: #ffd700;
		text-transform: uppercase;
		font-weight: bold;
	}
}
