@import 'colors';
.start-training-page {
	position: relative;
	padding: 1em;
	padding-top: 100px;
	padding-bottom: 100px;
	min-height: 100vh;
	max-width: 100vw;
	background-color: $DarkBlue;
	h2 {
		font-size: 2rem;
		color: $Gold;
	}
}
